.menuItem {
  padding: 4px 8px;

  line-height: 1;
  font-size: 0.875rem;
  border-radius: 4px;

  user-select: none;
  -webkit-user-select: none;

  &:not(.disabled){
    cursor: pointer;
    
    &:hover {
      color: #ffffff;
      background-color: #4095da;
    }
  }

  &.disabled {
    color: #999999;
    cursor: not-allowed;
  }
}
