.menuItem {
  padding: 4px 8px;

  line-height: 1;
  font-size: 0.875rem;
  border-radius: 4px;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    color: #fff;
    background-color: #4095da;
  }
}
